## Problem1

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
Train_set = pd.read_csv('energy_complete/train.csv')
Train_set

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,1/11/16 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.79,44.730000,19.000000,...,18.2,48.900000,17.033333,45.530000,6.60,733.50,92.000000,7.000000,63.000000,5.30
1,1/11/16 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.79,44.790000,19.000000,...,18.2,48.863333,17.066667,45.560000,6.48,733.60,92.000000,6.666667,59.166667,5.20
2,1/11/16 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.79,44.933333,18.926667,...,18.2,48.730000,17.000000,45.500000,6.37,733.70,92.000000,6.333333,55.333333,5.10
3,1/11/16 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.79,45.000000,18.890000,...,18.1,48.590000,17.000000,45.400000,6.25,733.80,92.000000,6.000000,51.500000,5.00
4,1/11/16 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.79,45.000000,18.890000,...,18.1,48.590000,17.000000,45.400000,6.13,733.90,92.000000,5.666667,47.666667,4.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9862,3/20/16 4:40,60,0,21.200000,36.090000,18.390000,39.090000,22.10,36.590000,20.200000,...,22.0,41.466667,19.500000,39.826667,4.93,761.60,77.000000,3.666667,22.666667,1.23
9863,3/20/16 4:50,60,0,21.200000,36.090000,18.356667,39.090000,22.10,36.590000,20.200000,...,22.0,41.400000,19.500000,39.900000,4.92,761.55,77.000000,3.833333,21.833333,1.22
9864,3/20/16 5:00,50,0,21.166667,36.200000,18.356667,39.163333,22.20,36.590000,20.200000,...,22.0,41.260000,19.500000,39.900000,4.90,761.50,77.000000,4.000000,21.000000,1.20
9865,3/20/16 5:10,60,0,21.100000,36.200000,18.290000,39.200000,22.20,36.590000,20.200000,...,22.0,41.200000,19.500000,39.900000,4.88,761.50,77.333333,3.833333,28.166667,1.23
9866,3/20/16 5:20,50,0,21.100000,36.200000,18.290000,39.222500,22.20,36.590000,20.200000,...,22.0,41.163333,19.500000,39.900000,4.87,761.50,77.666667,3.666667,35.333333,1.27